
<!DOCTYPE HTML>

	<html xmlns:th="http://www.thymeleaf.org">
	<head>

	    <title>Home Page</title>

	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body>

	  <h1> <b>WELCOME TO BOOK MANAGEMENT HOME!</b></h1>
	  <p> Type <b>/books/all</b> for viewing all the borrowed books <i>OR</i> <a href="http://localhost:8090/books/all">Click here</a>.</p>
	  <p> Type <b>books/firstName or books/firstNameAndlastName </b> to view the books borrowed by any person <i>OR</i> <a href ="http://localhost:8090/form">Click here</a>.</p>
	  <p> You can view the book borrowed by specific id no by typing <b>/</b> and then the specific <b>id number</b> <i>OR</i> <a href ="http://localhost:8090/idd">Click here</a>.</p>
      <p> For inserting, deleting or updating any id, use <b>curl --request</b> in <b>terminal</b>.</p>
	</body>
	</html>